.d3-component svg {
    background: #ddd;
    max-height: 300px;
}

@media all and (max-width: 1000px) {
    .d3-component svg {
        max-height: 200px;
    }
}

/*
* ----------------------------------------------
* custom HTML and class styles
* borrowed from https://github.com/jheer/barnes-hut/blob/master/docs/styles.css 
* ----------------------------------------------
*/
body {
    margin: 0;
    font-size: 14px;
}

h1.hed {
    font-size: 2.2em;
    margin-top: 0;
    text-align: left;
}

a {
    color: rgb(151, 151, 112);
}

h2.dek {
    font-size: 1.6em;
    text-align: left;
}

mark {
    background-color: beige;
}

button.next {
    font-size: 24px;
    height: 100px;
    width: 350px;
    border: 1px solid black;
}

button.next:hover {
    background-color: #f4f4f4;
}

.byline,
.idyll-pub-date {
    text-align: left;
}

.idyll-root {
    box-sizing: border-box;
    max-width: 90vw;
    margin: 0 auto;
    padding: 60px 0;
    margin-bottom: 60px;
    width: 700px;
    margin-left: 22vw;
}

.idyll-text-container {
    max-width: 800px;
}

.section {
    padding: 0 10px;
    margin: 0 auto;
}

.article-header {
    width: 800px;
    max-width: 90vw;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px dashed black;
}

input[type="text"] {
    margin: 0px;
    border: 1px solid black;
}

.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 56px 30px 0px 0px;
    height: 100vh;
    border-right: 1px solid rgb(89, 89, 89);
    background-color: white;
}

.nav ul {
    list-style-type: none;
    line-height: 1.75em;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(151, 151, 112);
}

.knowledge-check {
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px 50px 50px 50px;
    box-shadow: 2px 3px 23px rgba(0, 0, 0, 0.07);
    margin: 2em 0em 2em 0em;
}

/*
* ----------------------------------------------
* flashcards styles 
* ----------------------------------------------
*/

.flashcards {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.flashcard {
    width: 200px;
    height: 200px;
    margin: 15px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 3px 23px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    /* transition: transform 0.8s;
    transform-style: preserve-3d; */
    /* transform: rotatey(180deg); */
}

.flashcards div:hover {
    background-color: #f4f4f4;
}

.flashcards .front {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flashcards .back {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
* ----------------------------------------------
* automaton styles
* ----------------------------------------------
*/
/* .cell {
    background-color: white;
    border: 1px solid black;
} */

.cell {
    /* display: table-cell; */
    width: 50px;
    height: 50px;
    border: 1px solid black;
    padding: 3px;
}

/*
* ----------------------------------------------
* image slider styles
* https://github.com/yantsishko/slider-from-scratch-reactjs/tree/main
* ----------------------------------------------
*/
.slide {
    flex: 1 0 100%;
    position: relative;
}

.slider {
    overflow: hidden;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}

.slide-list {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide-image {
    display: flex;
    margin: 0 auto;
    max-height: 300px;
    width: 83%;
    overflow: hidden;
    object-fit: cover;
}

.slide-title {
    text-align: center;
    position: absolute;
    margin-top: 10px;
    margin-left: 50%;
    padding: 1em 10px 1em 10px;
    width: 83%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.arrows {
    color: black;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 1;
}

.arrow {
    height: 30px;
    width: 36px;
    cursor: pointer;
    /* background-color: black; */
    /* border-radius: 8px; */
    /* padding: 0px 0px 44px 0px; */
    /* text-align: center; */
}
.left {
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.right {
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

/*
* ----------------------------------------------
* accordion styles
* ----------------------------------------------
*/
.accordion {
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border: 1px solid black;
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
    border-top: 1px solid black;
}

.accordion__button {
    /* background-color: #f4f4f4; */
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #f4f4f4;
}

.accordion__button:before {
    display: inline-block;
    content: "";
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
    border-top: 1px dashed black;
    /* background-color: #fdfdfd; */
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
